@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');


*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}


body{

    background:#7372bb;

    background:linear-gradient(0deg, rgba(115, 114, 187, 0.8), rgb(115, 114, 187,0.8)), url("bg.jpg") fixed ;
   
    color: white;
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    line-height: 2;
    margin:1rem auto;
    padding:0.5rem;
    background-size: cover;
    
    
   
}
form{

    background:linear-gradient(0deg, rgb(43, 42, 73,0.8),rgb(43, 42, 73,0.8));

border-radius: 5px;
max-width: 700px;
margin:auto;
padding: 2rem 3rem;
}

#title{ 
    text-align: center;
    font-size: 2rem;
   
}

#description{

    text-align: center;
   font-style: italic;
   font-size: 1rem;
   margin-bottom: 2rem;
   
}
#name,#email,#number,#dropdown,#submit{

    width: 100%;
    height: 2.5rem;
    font-size: 1.2rem;
   padding-left: 1rem;
   border-radius: 7px;
}

#comment{
    width: 100%;
 
    font-size: 1.5rem;
    padding: 1rem;
}

.form-group{

    margin-bottom: 1.5rem;
}

#email-label,#name-label,#number-label,#dropdown-label,#recommend-radio-label,#improve-checkbox-label,#comment-label{
    display: block;
}

#submit{

    background-color: #37af65;
    color: white;
    border: none;
    
}

span{
    font-size: 1rem;
}

